/* Navigation https://codepen.io/vanchisel/pen/yLyjjWj */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --uhcBlue: #07294d;
  --uhcGreenTone: #bac5b9;
  --uhcLightBlue: #6cace4;
  --uhcYellow: #ffc600;
  --uhcGray: #f3f3f3;
  --uhcLime: #b7bf10;
  --uhcGray2: #a7a8aa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.half {
  width: 60%;
  margin: 0 auto;
}
