/* Hero Card */

.heroCard {
  height: 250px;
  /* background-color: var(--uhcLightBlue); */
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-content: center;
  justify-content: center;
  grid-gap: 10px;
}

.heroTextItem {
  /* background-color: burlywood; */
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.heroTextItem .title {
  padding-left: 5px;
  padding-bottom: 12px;
  align-self: end;
  color: var(--uhcBlue);
}
.heroTextItem .text {
  font-size: 20px;
  font-weight: 0;
  align-self: start;
  color: var(--uhcBlue);
}

.heroImgItem {
  /* background-color: coral; */
  justify-self: center;
  align-self: center;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.heroImg {
  /* box-shadow: 0 5px 10px #888888; */
  /* border-radius: 50%; */
  height: 150px;
  border-style: solid;
  border-color: white;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Filter */

.filterContainer {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--uhcGray);
  border: gray solid 1px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.filterTechTitle {
  padding-top: 10px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-size: 20px;
  color: var(--uhcBlue);
  font-size: 21px;
  font-weight: 900;
}

.filterTech {
  grid-column: 1 / 4;
  grid-row: 3/ 4;
  display: grid;
  grid-gap: 10px;
  padding-bottom: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.filterCatTitle {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  font-size: 20px;
  color: var(--uhcBlue);
  font-size: 21px;
  font-weight: 900;
}

.filterCat {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.techItem {
  background-color: var(--uhcBlue);
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  border-style: none;
  border-radius: 20px;
  transition: 0.2s;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.techItem:hover {
  background-color: var(--uhcBrightBlue);
}

.active {
  background-color: var(--uhcBlue);
  /* color: var(--uhcYellow); */
  box-shadow: 0px 3px 2px var(--uhcYellow);
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 1000px) {
  .techItem {
    font-size: 12px;
  }

  .active {
    font-size: 15px;
  }
}
@media screen and (max-width: 700px) {
  .techItem {
    font-size: 9px;
  }

  .active {
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  .techItem {
    font-size: 7px;
  }

  .active {
    font-size: 9px;
  }
}
.filterTechDropdown {
}

.filterTechDropdown button {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.filterTechDropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: hidden;
  position: absolute;
  min-width: 200px;
  opacity: 0;
  transition: 0.3s;
}

.filterTechDropdown:hover div {
  visibility: visible;
  opacity: 1;
  width: 100px;
}

.filterTechDropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #000;
  transition: 0.1s;
  white-space: nowrap;
}

.filterTechDropdown div a:hover {
  background-color: var(--uhcBlue);
  color: white;
}

/* toolGallery */

.toolGallery {
  padding: 50px;
  padding-left: 8%;
  padding-right: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.toolGallerySmall {
  padding: 50px;
  padding-left: 8%;
  padding-right: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* ITEM*/

.toolGalleryItem {
  /* background-color: var(--uhcGray); */
  border: solid rgb(114, 114, 114) 1px;
  box-shadow: 0px 4px 5px rgb(114, 114, 114);
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px auto auto auto;
  justify-items: center;
  grid-template-areas:
    'img'
    'title'
    'date'
    'desc'
    'output';
  transition: 0.5s;
}

.toolGalleryItem:hover {
  /* border: var(--uhcLightBlue) solid 1px; */
  transform: translate(0, -15px);
  box-shadow: 0px 4px 5px var(--uhcLightBlue);
}

.toolGalleryItem .date {
  grid-area: date;
  text-align: center;
  font-size: 12px;
}

.toolGalleryItem img {
  padding-top: 10px;
  height: 200px;
  grid-area: img;
  border: var(--uhcGray) solid 2px;
}

.toolGalleryItem .title {
  /* background-color: aqua; */
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: var(--uhcBlue);
  grid-area: title;
}
.toolGalleryItem .desc {
  padding-left: 6%;
  padding-right: 6%;
  font-size: 13px;
  grid-area: desc;
  align-self: center;
}
/* OUTPUT */
.toolGalleryItem .toolGalleryOutputs {
  grid-area: output;

  /* background-color: wheat; */
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-gap: 5px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */

  /* grid-row: repeat(5, 30px); */
}

.toolGalleryItem .toolGalleryOutputs .outputsItem {
  font-size: 13px;
  height: 20px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: var(--uhcOrange);
  margin: 5px;

  /* text-align: end; */
  text-transform: uppercase;
  color: var(--uhcOrange);

  transition: 0.2s;
}

.toolGalleryItem .toolGalleryOutputs .outputsItem:hover {
  font-weight: 900;
  font-size: 13px;
}

/* Validation */
.btnToolsValidate {
  background-color: white;
  border: none;
  font-size: 13px;
  height: 20px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: var(--uhcOrange);
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--uhcOrange);
  transition: 0.2s;
}

.btnToolsValidate:hover {
  font-size: 14px;
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 300px;
  display: grid;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  justify-self: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
