/* Hero Card */

.heroCard {
  height: 250px;
  /* background-color: var(--uhcLightBlue); */
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-content: center;
  justify-content: center;
  grid-gap: 10px;
}

.heroTextItem {
  /* background-color: burlywood; */
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.heroTextItem .title {
  padding-left: 5px;
  padding-bottom: 12px;
  align-self: end;
  color: var(--uhcBlue);
}
.heroTextItem .text {
  font-size: 20px;
  font-weight: 0;
  align-self: start;
  color: var(--uhcBlue);
}

.heroImgItem {
  /* background-color: coral; */
  justify-self: center;
  align-self: center;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.heroImg {
  /* box-shadow: 0 5px 10px #888888; */
  /* border-radius: 50%; */
  height: 150px;
  border-style: solid;
  border-color: white;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Filter */

.filterTechTitle {
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  color: var(--uhcBlue);
  font-weight: 900;
}

.filterTech {
  /* background-color: antiquewhite; */
  padding-left: 12%;
  padding-right: 12%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.techItem {
  background-color: var(--uhcBlue);
  color: white;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  border-style: none;

  transition: 0.2s;

  display: grid;
  justify-content: center;
  align-items: center;
}

.techItem:focus {
  box-shadow: 2px 5px 4px var(--uhcLightBlue);
  font-size: 18px;
  font-weight: 700;
}

/* toolGallery */

.toolGallery {
  padding: 50px;
  display: grid;
  grid-gap: 20px;
}

.toolGalleryItem {
  background-color: var(--uhcGray);
  height: 200px;
  padding: 10px;

  display: grid;

  grid-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px 150px;
  grid-template-areas:
    'img  title   title'
    'img  desc    output';
}

.toolGallery img {
  padding: 15px;
  height: 180px;
  grid-area: img;
}
.toolGallery .title {
  font-size: 30px;
  grid-area: title;
}
.toolGallery .desc {
  font-size: 15px;
  grid-area: desc;
}

.toolGallery .toolGalleryOutputs {
  display: grid;
  justify-items: end;
}

.toolGallery .toolGalleryOutputs .outputsItem {
}
